{% extends 'base_center.html.twig' %}

{% block title %}
	{{ 'Register.Register'|trans|raw }}
{% endblock %}

{% block body %}
	<div class="card rounded-4 shadow m-3">
		<div class="card-body">
			<img src="{{ asset('assets/img/logo/logo-horizontal.svg') }}" alt=" Mon Support by Yellow Cactus" class="d-inline-block align-text-top mb-2 mx-3">
			<h5 class="card-title py-3">
				<strong>Ouverture</strong> : <span class="text-orange">14 novembre 2025</span></h5>

			<p>Le site est pour le moment en test. </p>

			<p>Si vous souhaitez du support dès aujourd'hui,</p><p class="text-center">Contactez-nous au&nbsp;<strong>01&nbsp;49&nbsp;66&nbsp;21&nbsp;77</strong></p><p class="text-center">Ou allez sur </p><p class="text-center"><a href="https://extranet.yellowcactus.com" target="_blank">extranet.yellowcactus.com</a></p>

			<p>
				<a href="{{ path('app_home') }}" class="btn btn-link p-0 float-end text-secondary">{{ 'Global.Back'|trans|raw }}</a>
			</p>
		</div>
	</div>
{% endblock %}
