{% extends 'base.html.twig' %}
{% block title %}{{ 'Ticket.Add'|trans|raw }}{% endblock %}
{% block body %}
<h1>{{ 'Ticket.Add'|trans|raw }}</h1>
{{ include('ticket/_form.html.twig') }}
{% endblock %}