{% extends 'base.html.twig' %}
{% block title %}{{ 'Contact.Update'|trans|raw }}{% endblock %}
{% block body %}
<h1>{{ 'Contact.Update'|trans|raw }}</h1>
{{ include('contact/_form.html.twig') }}
{% endblock %}