{% extends 'base_public.html.twig' %}
{% block title %}
	{{ 'Home.Welcome'|trans|raw }}
{% endblock %}
{% block body %}

	{{ include('page/_hero.html.twig') }}
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-10 my-5 mx-auto">
				<div class="alert alert-info border border-2 border-secondary" role="alert">
					<h1>Merci, votre demande a bien été enregistrée !</h1>
					<p>Nous vous répondrons dans les plus brefs délais.</p>
					<a href="{{ path('app_home') }}#contact" class="btn btn-orange">
						<i class="fa-regular fa-reply"></i>
						Retour à l'accueil</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
