{% extends 'base.html.twig' %}
{% block title %}{{ 'Company.Update'|trans|raw }}{% endblock %}
{% block body %}
<h1>{{ 'Company.Update'|trans|raw }}</h1>
{{ include('company/_form.html.twig') }}
{% endblock %}