<!DOCTYPE html>
<html class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Bienvenue !
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('img/favicon.svg') }}" type="image/svg+xml">
		{% block stylesheets %}
			{{ include('tpl/_style.html.twig') }}
			<link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
		{% endblock %}
		{% block javascripts %}
			{{ include('tpl/_script.html.twig') }}
		{% endblock %}
	</head>
	<body class="d-flex align-items-center py-4 bg-body-tertiary">
		<main class="form-signin w-100 m-auto">
			{% set currentRoute = app.request.attributes.get('_route') %}
			{% include 'tpl/_flash.html.twig' %}
			{% block body %}{% endblock %}
		</main>
	</body>
</html>
