{% extends 'base.html.twig' %}
{% block title %}{{ 'User.Edit user'|trans|raw }}
{% endblock %}
{% block body %}
	<h1>{{ 'User.Edit user'|trans|raw }}</h1>
	{{ include('user/_form.html.twig') }}
{% endblock %}
